<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Here's a little story that must be told
                About two young sistas who was put on hold
                They tried to stop the goal
                We on a spiritual plane
                Tried to kill the pride
                And destroy the name
                We just two bad sistas
                Who will never quit
            </p>
            <p>I am Teen
                I'm Kimmie
                We the ultimate
                Make sure that you tell
                Everybody you know
                To get on line
                Take a ride
                To the PP Kicks show
            </p>
            <p>PP Kicks
                Shinin'
                Shinin', we in the house
                Shinin'
                Shinin', we in the house y'all
            </p>
        </div>
    </div>
</div>

<