<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div>
                <input type="text" maxlength="50" ng-model="searchCriteria" />
                <select ng-model="searchType">
                    <option value="meta">quick search</option>
                    <option value="full">full search</option>
                </select>
                <button ng-click="search(searchType)">Search</button>
                <div class="search-results" ng-repeat="result in searchResults">
                    <a ng-href="/#/post/{{ result.Id }}">{{ result.Teaser }}</a>
                </div>
                <div ng-show="searchError != null">{{ searchError }}</p>
            </div>
            <div class="post-preview" ng-repeat="post in blogPosts">
                <a href="#/post/{{ post.Id }}">
                    <h2 class="post-title">{{ post.Title }}</h2>
                    <h3 class="post-subtitle"> {{ post.Content }}</h3>
                </a>
                <p class="post-meta">Posted by <a href="#">{{ post.Author }}</a> on {{ post.PostDate }}</p>
                <hr>
            </div>
        </div>
    </div>
</div>