
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    Homemade Guac
                </h2>
                <h3 class="post-subtitle">
                    It's legit. Like... Chipotle legit.
                </h3>
                <img class="img-responsive" src="img/burger.jpg">
                <iframe src="//giphy.com/embed/6SWrG7MxrwcrS" width="480" height="202" frameBorder="0" class="giphy-embed"
                        allowFullScreen></iframe><p><a href="http://giphy.com/gifs/funny-food-random-6SWrG7MxrwcrS">
                via GIPHY</a></p>
                </a>
            </div>
        </div>
    </div>
</div>