<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <h2 class="post-title">
                    7-minute HIIT and quit it (wink wink)
                </h2>
                <h3 class="post-subtitle">
                    strap your kids on your back for extra resistance, ya wimp!
                </h3>
                <img class="img-responsive" src="img/tiu.jpg">
                <iframe src="//giphy.com/embed/Y7O3LHmhllEk" width="480" height="403" frameBorder="0" class="giphy-embed"
                        allowFullScreen></iframe><p><a href="http://giphy.com/gifs/dance-brad-pitt-workout-Y7O3LHmhllEk">
                via GIPHY</a></p>
                </a>
            </div>
        </div>
    </div>
</div>